
html body {
  background: #fefefe;
  background: -moz-radial-gradient(center, circle cover, #e1e9f6 0%, #fefefe 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e1e9f6), color-stop(100%, #fefefe);
  background: -webkit-radial-gradient(center, circle cover, #e1e9f6 0%, #fefefe 100%);
  background: -o-radial-gradient(center, circle cover, #e1e9f6 0%, #fefefe 100%);
  background: -ms-radial-gradient(center, circle cover, #e1e9f6 0%, #fefefe 100%);
  background: radial-gradient(center, circle cover, #e1e9f6 0%, #fefefe 100%);
}

.reveal {color: #231F20;}
.reveal h2, .reveal h3 {color: #222222;}


.gif150
{
  width: 150%;
  height: auto;
}

.gif75
{
  width: 75%;
  height: auto;
}
